name: Update Notion on Push

on:
  push:
    branches: ["main", "master"] # main 브랜치에 푸시될 때
    paths-ignore: # README 수정 같은 건 무시 (잔디 안 심음)
      - "README.md"
      - ".github/**"

jobs:
  notify-notion:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.9"

      - name: Install dependencies
        run: |
          pip install requests

      - name: Run script
        run: python main.py
        env:
          # [중요] 여기를 본인 노션 이름으로 수정해서 올리세요! (예: 김개발)
          NOTION_NAME: "하승연"

          NOTION_TOKEN: ${{ secrets.NOTION_TOKEN }}
          DATABASE_ID: ${{ secrets.DATABASE_ID }}
          SCORE_DB_ID: ${{ secrets.SCORE_DB_ID }}